body{
    background-color: aquamarine;
    font-family: Arial, verdana, sans-serif;
}
nav > ul{
    margin: 0px;
    padding: 0px;
}
nav li{
    list-style-type: none
}
nav > ul > li{
    float: left;
}
nav{
    width: 100%;
    background-color: black;
}
nav > ul > li {
    float: left;
    position : relative;
}
nav > ul::after{
    content:"";
    display: table;
    clear: both;
}
nav a{
    display: inline-block;
    text-decoration: none;
}
nav >ul > li > a {
    padding : 30px;
    color: red ;
}
nav li:hover .submenu{
    display: inline-block;
    position : absolute;
    top : 100%;
    left: 0%;
    padding : 0%;
    z-index: 1000;
}
.submenu{
    display: none;
}
.submenu li {
    border-bottom: 1px solid white;
}
.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    background-color: white;
    width: 270px;
}
.menu:hover{
    border-top: 5px solid blue;
    background-color: rgb (228, 79, 38, 0.15);
}
table{
    border-collapse: collapse; 
}

p{
    size: 4;
}   
input {
    border-color: black;
}
input:focus{
    border-color:  yellow;
    box-shadow: 10px 5px 5px black;
}
  textarea:focus{
    border-color: yellow;
    box-shadow: 10px 5px 5px black;
}
input:valid{
    border-color:  green;

}

  