#conteneur{
    width:110px;
    height: 310px;
    background-color: grey;
    margin-left:200px;
    margin: auto;
    
}

#cercle1 { 
    width: 100px; 
    height: 100px; 
    background: black;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
    margin-top: 5px;
    animation-name: feurouge;
    animation-duration: 10s;
    animation-timing-function:ease} 

#cercle1:hover{
    background: red;
}

        @keyframes feurouge{
            from{
                background: black;
                
            }
           
            to{
                background:red;
            }

        }
    
        #cercle2 { 
        width: 100px; 
        height: 100px; 
        background: black;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px; 
        animation-name: feuorange;
        animation-duration: 10s;
        animation-delay: 11s;}   
        #cercle2:hover{
            background: orange;
        }
        @keyframes feuorange{
            from{
                background:black;
            }
            to{
                background: orange;
            }
        }

        #cercle3 { 
            width: 100px; 
            height: 100px; 
            background: black;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            animation-name: feuvert;
            animation-duration: 10s; 
            animation-delay: 23s;}  
            #cercle3:hover{
                background: cyan;
            }
            @keyframes feuvert{
                from{
                    backround: black;
                }
                to{
                    background: cyan;
                }
            }

      