#conteneur{
    width:110px;
    height: 310px;
    background-color: grey;
    margin-left:200px;
    margin: auto;
    
}

#cercle1 { 
    width: 100px; 
    height: 100px; 
    background: black;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
    margin-top: 5px;
    animation-name: feurouge;
    animation-duration: 5s;
  } 

#cercle1:hover{
    background: red;
}

        @keyframes feurouge{
            from{
                background: black;
                
            }
           
            to{
                background:red;
            }

        }
    
        #cercle2 { 
        width: 100px; 
        height: 100px; 
        background: black;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px; 
        animation-name: feuorange;
        animation-duration: 5s;
        animation-delay: 10.6s ;}   
        #cercle2:hover{
            background: orangered;
        }
        @keyframes feuorange{
            from{
                background:black;
            }
            to{
                background: orangered;
            }
        }

        #cercle3 { 
            width: 100px; 
            height: 100px; 
            background: black;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            animation-name: feuvert;
            animation-duration: 5s; 
            animation-delay: 5.3s ;
                             }  
            #cercle3:hover{
                background: green;
            }
            @keyframes feuvert{
                from{
                    backround: black;
                }
                to{
                    background: green;
                }
            }

            #conteneur2{
                width:110px;
                height: 310px;
                background-color: grey;
                margin-left:200px;
                margin: auto;
                
            }
            
            #cercle4 { 
                width: 100px; 
                height: 100px; 
                background: black;
                -moz-border-radius: 50px;
                -webkit-border-radius: 50px;
                border-radius: 50px; 
                margin-top: 5px;
                animation-name: feurouge;
                animation-duration: 5s;
                animation-delay: 5.3s; } 
            
            #cercle4:hover{
                background: red;
            }
            
                    @keyframes feurouge{
                        from{
                            background: black;
                            
                        }
                       
                        to{
                            background:red;
                        }
            
                    }
                
                    #cercle5 { 
                    width: 100px; 
                    height: 100px; 
                    background: black;
                    -moz-border-radius: 50px;
                    -webkit-border-radius: 50px;
                    border-radius: 50px; 
                    animation-name: feuorange;
                    animation-duration: 5s;
                    animation-delay: 10.6s ;}   
                    #cercle2:hover{
                        background: orangered;
                    }
                    @keyframes feuorange{
                        from{
                            background:black;
                        }
                        to{
                            background: orangered;
                        }
                    }
            
                    #cercle6 { 
                        width: 100px; 
                        height: 100px; 
                        background: black;
                        -moz-border-radius: 50px;
                        -webkit-border-radius: 50px;
                        border-radius: 50px;
                        animation-name: feuvert;
                        animation-duration: 5s; 
                                         }  
                        #cercle6:hover{
                            background: green;
                        }
                        @keyframes feuvert{
                            from{
                                backround: black;
                            }
                            to{
                                background: green;
                            }
                        }
            
                  