body{
    height:100%;
    width: 100%;
    background-color: aqua;
}
#conteneur{
    padding: 0 auto;
    height: 1000px;
    width : 1000px;
    background-color: blueviolet;
}
#cadran{
    margin-left: 50%;
    margin-right: 50%;
}
#grandeAiguille{
    margin-left: 50%;
    margin-right: 50%;
    margin-top : 50px;
}