body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: burlywood;
    text-align: center;
   
}

img{
        display:inline-block;
}
h1{
        text-align: center;
        border : 60px;
        background-color:grey;   
}
h2{
        text-decoration: underline;
}
h2, h3, p{
        text-align: left;
}


#menu, #menu ul /* Liste */     

{

        padding : 0; /* pas de marge intérieure */

        margin : 0; /* ni extérieure */

        list-style : none; /* on supprime le style par défaut de la liste */

        line-height : 25px; /* on définit une hauteur pour chaque élément */

        text-align : center; /* on centre le texte qui se trouve dans la liste */

        display: inline-block;

}


#menu /* Ensemble du menu */

{

        font-weight : bold; /* on met le texte en gras */

        font-family: 'Times New Roman', Times, serif; 

        font-size : 15px; /* hauteur du texte : 12 pixels */

}
#menu a /* Contenu des listes */

{

        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */

        padding : 0; /* aucune marge intérieure */

        background : #000; /* couleur de fond */        

        color : #fff; /* couleur du texte */

        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */

        width : 200px; /* largeur */

}
#menu li /* Éléments des listes */      

{ 

        float : left; 

        /* pour IE qui ne reconnaît pas "transparent" */

        border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */

}


/* IE ne reconnaissant pas le sélecteur ">" */

html>body #menu li

{

        border-right: 1px solid transparent ; /* on met une bordure transparente à droite de chaque élément */

}


#menu li ul /* Sous-listes */

{ 

        position: absolute; /* Position absolue */

        width: 144px; /* Largeur des sous-listes */

        left: -999em; /* Hop, on envoie loin du champ de vision */

}



#menu li ul li /* Eléments de sous-listes */

{

        /* pour ie qui ne reconnaît pas "transparent" (comme précédemment) */

        border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous-liste */

}


/* IE ne reconnaissant pas le sélecteur ">" */

html>body #menu li ul li                

{

        border-top : 1px solid transparent; /* on met une bordure transparente en haut de chaque élément */

}


#menu li ul ul 

{

        margin    : -22px 0 0 144px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */ 

        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */

        border-left     : 1px solid #fff ; /* Petite bordure à gauche pour ne pas coller ... */      

}


/* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */

html>body #menu li ul ul                

{

        border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */

}
.progress-bar { 
        width: 300px;
        height: 24px;
        padding: 4px;
        background-color: #191919;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
        -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
        -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    }
    .progress-bar:before { 
        content: '100%';
        display: block;
        position: absolute;
        width: 300px;
        height: 24px;
        background: rgb(223, 67, 20);
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        box-shadow: inset 0 1px 0 rgba(19, 59, 133, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    }

